.security-warning {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #005bac, #008cd6, #00b1f4);
  color: white;
  font-size: 14px;
  overflow: hidden;
  z-index: 999;
  height: 32px;
  display: flex;
  align-items: center;
}

.security-text {
  white-space: nowrap;
  animation: scrollLeft 20s linear infinite;
  padding-left: 100%;
}

.legal {
  font-weight: 300;
  font-size: 13px;
  color: #e6f6ff;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
